<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Data</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jobayer_alam_24_ICTBD_MVC_project_3.styles.css" asp-append-version="true" />
</head>
<body>
      <div class="container mt-5">
        <h3 class="text-center mb-4">Students - Courses - Books</h3>
        <table class="table table-bordered text-center">
            <thead class="table-primary">
                <tr>
                    <th class="align-middle">Category</th>
                    <th class="align-middle">Field</th>
                    <th class="align-middle">Value</th>
                </tr>
            </thead>
            <tbody>
                <!-- Student Data -->
                <tr>
                    <td class="table-info" rowspan="6">Student</td>
                    <td class="bg-purple text-white">Student ID</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Name</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Age</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Phone Number</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Email</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Address</td>
                    <td class="table-light"></td>
                </tr>

                <!-- Course Data -->
                <tr>
                    <td class="table-info" rowspan="6">Course</td>
                    <td class="bg-purple text-white">Course ID</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Name</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Instructor Name</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Price</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Total Enrolled Students</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Course Duration</td>
                    <td class="table-light"></td>
                </tr>

                <!-- Book Data -->
                <tr>
                    <td class="table-info" rowspan="6">Book</td>
                    <td class="bg-purple text-white">Book ID</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Title</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Author</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Genre</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">Publisher</td>
                    <td class="table-light"></td>
                </tr>
                <tr>
                    <td class="bg-purple text-white">ISBN</td>
                    <td class="table-light"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>